[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
mesos_local = "CqDY4KYGkkTNWSfTCirhTYxBknQJox7WG4xDrq683x2X"

[programs.localnet]
mesos_local = "DfaszuQVod1HEeqqEY8vDkXbGyRgMxSaZHbkjo9JqWT7"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
